/* .card-img-overlay {
    background: rgba(#000, 0.8) !important;
} */
/* .card-img-overlay{
    background-color: #BF000000 !important;
} */

body{
    /* background-color: #a9dfe9; */
    background-color: #dae0e6;
}

.overlay {
    position: absolute;
    z-index: 10;
    /* top: inherit; */
    bottom: 0;
    left: 0;
    right: 0;
    /* opacity: .6; */
    z-index: 1000;
    /* background-color: rgb(43, 42, 42); */
    background-color: rgba(0,0,0,0.5);
    border-radius: 0.5rem;
  }

#trendingcard {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-width: 0;
    width: 200px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border:1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.5rem;
    height: 200px;
    /* border: 4px solid black; */

}


.card h4{
    margin-top: 60%;
    font-size: 1.2rem;
}

.card h6{
    font-size: 0.9rem;
}
.card-img{
    height: 100%;
    /* border: 2px solid red; */
    border-radius: 0.5rem;

}

.card-img-top{
    height: 400px;
}


.container2
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* height: 200px; */
    /* border: 2px solid green; */
}

#home{
    /* border: 2px solid black; */
    /* width: 900px; */
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}

/* .card-title{
    z-index: 10;
} */

.trendingHeading 
{
    /* border: 2px solid black; */
    padding-left: 2%;
    padding-top: 1%;
    margin-top: 20px;
    /* font-weight: lighter; */
}

.trendingHeading h4{
    font-weight: bold;
    font-size: 1rem;
}

.container svg{
    width: 30px;
    height: 30px;
}


#popularposts .row{
    width: 100%;
    margin-bottom: 5%;
}

#profile{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 00px !important;
    justify-content: space-between;
    align-items: center;
    /* justify-content: sp ; */
    /* align-items: center; */
}

#profile .container{
    display: inline-block;
    width: 50%;
    margin: 00px;
}

#profile p {
    margin-bottom: 0%;
    font-size: 0.8rem;
    margin-left: 00px;
}

#profile h6{
    font-size: 0.7rem;
}

#idea{
    margin-top: 2%;
    margin-bottom: 2%;
}

#footer{
    display: flex;
    flex-direction: row;
}

#popularposts{
    /* border: 2px solid black; */
    padding: 00px;
    width: 100%;
}


#category{
    height: 500px;
    width: 35%;
}

#category img{
    width: 100%;
    height: 100px;
}


#category .card-body{
    /* border: 0.5px solid black; */
    /* border-radius: 1rem; */
    margin-top: 2px;
    height: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    /* flex */
}


@media only screen and (max-width: 1000px) {
 
    .container{
        margin: 00px;
    }
}

@media only screen and (max-width: 880px) {
    /* .row{
        width: 100%;
    } */
    #upvote p, #share p, #save p, #comment p{
        font-size: 0.9rem;
    }
    #footer svg{
        height: 20px;
        width: 20px;
    }

    
}

@media only screen and (max-width: 790px) {
    .row{
        width: 100%;
    }

    
}



@media only screen and (max-width: 600px) {
    /* .row{
        width: 100%;
    } */
    #upvote p,  #share p, #save p, #comment p{
        /* font-size: 0.9rem; */
        display: none;
    }
    #footer svg{
        height: 20px;
        width: 20px;
    }

    
}

@media only screen and (max-width: 450px) {
    /* .row{
        width: 100%;
    } */
    #upvote p,  #share p, #save p, #comment p{
        /* font-size: 0.9rem; */
        display: none;
    }
    #upvote ,  #share , #save , #comment {
        /* font-size: 0.9rem; */
        /* display: none; */
        padding: 00px !important;
    }
    #footer svg{
        height: 20px;
        width: 20px;
    }

    
}