/* in this i will be writing the code for designing the code  */

#uploadidea{
    /* border: 2px solid black; */
}

#heading{
    /* border: 2px solid black; */
    text-align: center;
    margin-bottom: 4%;
}


#uploadingform{
    /* border: 2px solid black; */
    width: 70%;
    /* height: 70%; */
}